/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
div.gallery {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div.gallery {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*    End of reset    */

/* this is the start of formatting */

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Trebuchet MS;
  color: #DDCCDF;
  background-color: #23481E;
  position: relative;
  line-height: 2rem;
  margin: 0rem 1.5rem 1.5rem 0rem;
}

header.routes{
  font-family: Trebuchet MS;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #23481E;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 1;
}

header p.pagetop {
  font-family: Trebuchet MS;
  letter-spacing: -0.2px;
  font-size: 20px;
  padding: 0rem 0rem 0rem 1rem;
  white-space: nowrap;
  color: #DDCCDF;
}

header nav {
  display: flex;
  vertical-align: center;
  justify-content: center;
  position: absolute;
  padding-top: 1rem;
  width: 100%;
}

header nav .btn {
  font-family: Trebuchet MS;
  font-size: 15px;
  color: #DDCCDF;
  position: relative;
  box-sizing: border-box;
  display: flex;
  /* Add display flex */
  justify-content: center;

  padding: 0.5rem;
  margin: 0rem 0rem 1rem 1rem;
  width: 14.5em;
  border: 1px solid #E5DFF5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  -webkit-transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
  -moz-transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
  -o-transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
  transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
}

header nav .btn:hover {
  color: #23481E;
  background-color: #DDCCDF;
  font-weight: bold;
  cursor: pointer;
}

.site-wrapper {
  padding-top: 7rem;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width:100%
}

main {
  padding: 3rem;
  margin: 0 auto;
  background: #23481E;
  font-family: Trebuchet MS;
  overflow-x: hidden;
}

section.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  width: fit-content;
  width: 100%;
  align-self: center;
}

section.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: fit-content;
  padding: 3rem;
  width: 100%;
  align-self: center;
}

section.columnEvil {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: fit-content;
  padding-left: 25rem;
  width: 100%;
  align-self: center;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  vertical-align: center;
  text-align: center !important;
  width: 100%;
  margin: 0 auto;
  background: #23481E;
  font-family: Trebuchet MS;
  padding-top: 1rem;
}


main section article {
  margin: 0 auto;
  font-family: Trebuchet MS;
}

h2, h3, p {
  padding-bottom: 1rem;
  color: #DDCCDF;
  text-align: left;
}

h2 {
  font: 20px 'Helvetica Neue';
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left !important;
  width:100%;
}

h3 {
  font-size: 2rem;
  line-height: 3.6rem; 
  color: #DDCCDF;
}

p {
  font-family: Trebuchet MS;
  padding-bottom: 0.5rem;
  color: #DDCCDF;
}

.comms {
  padding-top: 3rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.headshot {
    /* width: 500px;
    height: 500px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    max-width: 20rem;
    align-self: left !important;
}



.links {
  font-family: Trebuchet MS;
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
  color: #DDCCDF;
  text-decoration: none;
  position: relative;
  padding-top:0.2rem;
  width: 1rem !important;
  max-width: 1rem;
}

.links:hover {
  text-decoration: underline;
}

ul.accordion-items-container {
  box-sizing: border-box;
  background: #23481E;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

li.accordion-item {
  justify-content: center;
  vertical-align: center;
  width: 100%;
  height: 6rem;
  width: 100%;
  align-items: flex-start;
  background: #23481E;
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  outline: none !important;
}

div.accordian-divider {
  height: 1px;
  top: 6rem;
  width: 100%;
  background: #DDCCDF;
  transform: scaleY(-1);
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

b.accordian {
  display: flex;
  align-items: center;
  height: 6rem;
  width: 100%;
  background: #23481E;
  font: 400 15px Trebuchet MS !important;
  text-decoration: none !important;
  text-align: left !important;
  color: #DDCCDF;
  outline: none !important;
}

.subname {
  font: 20px 'Helvetica Neue';
  position: absolute;

  color: #DDCCDF;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

body h1 {
  font-size: 8rem;
  width: 100%;
  font-family: Trebuchet MS;
  letter-spacing: -0.3rem;
  color: #DDCCDF;
  white-space: nowrap;
  line-height: 9rem;
  height:9rem;
  padding-bottom:1rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

p.cs {
  font-family: Trebuchet MS;
  letter-spacing: -0.2px;
  font-size: 30px;
  color: #DDCCDF;
  padding-bottom: 3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

skillContainer {
  position: relative;
  box-sizing: border-box;
  display: flex;

  vertical-align: flex-start;
  flex-direction: column;

  margin-top: 5rem;
  margin-left: 1rem;
  width: 30rem;
  height: 37rem;;
  border: 2px solid #DDCCDF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.gallery-vert {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-container {
  position: relative;
  overflow: hidden;
}

img.comms {
  width: auto;
  max-width: 400px;
  height: auto;
  /* max-height: 450px; */
  padding: 1rem;
  transition: filter 0.3s;
}

.image-container:hover img.comms {
  filter: brightness(40%);
}

.image-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  padding: 1rem;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .image-description {
  opacity: 1;
}

.circle {
  text-align: left;
  font-size: 1.3rem;
  margin: 1rem;
  padding-right:3rem;
  padding-left: 0rem;
  line-height: 1.2rem;
  padding-bottom: 0rem!important;
  white-space: nowrap;
}

h3.circle {
  text-align: left;
  font-size: 2.4rem;
  line-height: 2.4rem;
  height:5.6rem;
  padding-right: 0rem!important;
}

h3.skills {
  border-top: 1px solid #DDCCDF !important;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.5rem;
  padding-top:1rem;
  padding-bottom:0rem;
  margin-bottom:0rem;
}

.tech {
  position: relative;
  padding-top: 7rem;
  font-size: 5rem;
  width: 100%;

  text-align: center!important;
}

ul.bullet-points {
  list-style-type: disc;
  text-align: left;
  margin-left:2rem;
  font-size:1rem;
}

.date {
  text-align: center;
  font-size: 1rem;
}

footer.page {
  border-top: 1px solid #DDCCDF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 100%;
  height:fit-content;
}

p.info {
  width: 167px;
  height: 39px;

  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 120% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.256px;

  color: #23481E;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #DDCCDF;
  transform: translate(-10px, -10px);
  pointer-events: none;
  z-index: 9999;
  filter: blur(10px);
  animation-name: stretch;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    opacity: 0.7;
    border-radius: 100%;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  50% {
    opacity: 0.3;
    transform: translate(-10px, 10px) rotate(45deg) scale(1.2);
  }

  100% {
    opacity: 0.5;
    transform: scale(2.0);
    transform: translate(10px, -10px) rotate(-45deg) scale(1.5);
  }
}