/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
div.gallery {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
div.gallery {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*    End of reset    */

/* this is the start of formatting */

html {
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: Trebuchet MS;
  color: #DDCCDF;
  background-color: #23481E;
  position: relative;
  line-height: 2rem;
  margin: 0rem 1.5rem 1.5rem 0rem;
}

header {
  font-family: Trebuchet MS;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #23481E;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  z-index: 1;
}

header p.pagetop {
  font-family: Trebuchet MS;
  letter-spacing: -0.2px;
  font-size: 20px;
  padding: 0rem 0rem 0rem 1rem;
  white-space: nowrap;
  color: #DDCCDF;
}

header nav {
  display: flex;
  vertical-align: center;
  justify-content: center;
  position: absolute;
  padding-top: 1rem;
  width: 100%;
}

header nav .btn {
  font-family: Trebuchet MS;
  font-size: 15px;
  color: #DDCCDF;
  position: relative;
  box-sizing: border-box;
  display: flex;
  /* Add display flex */
  justify-content: center;

  padding: 0.5rem;
  margin: 0rem 0rem 1rem 1rem;
  width: 14.5em;
  border: 1px solid #E5DFF5;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 5px;

  -webkit-transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
  -moz-transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
  -o-transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
  transition: background-color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), color 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75), font-weight 0.5s cubic-bezier(0.45, 0.19, 0.34, 0.75);
}

header nav a.btn:hover {
  color: #23481E;
  background-color: #DDCCDF;
  font-weight: bold;
  cursor: pointer;
}

.site-wrapper {
  padding-top:7rem;
}

main {
  padding: 3rem;
  margin: 0 auto;
  background: #23481E;
  font-family: Trebuchet MS;
  overflow-x: hidden;
}

section.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  vertical-align: center;
  padding: 3rem;
  width: 100%;
}

section.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: center;
    padding: 3rem;
    width: 100%;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  vertical-align: center;
  text-align: center !important;
  width: 100%;
  margin: 0 auto;
  background: #23481E;
  font-family: Trebuchet MS;
  padding-top: 1rem;
}


main section article {
  margin: 0 auto;
  font-family: Trebuchet MS;
}

h2, h3, p {
  padding-bottom:1rem;
  color: #DDCCDF;
  text-align: left;
}

h2 {
  font: 20px 'Helvetica Neue';
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

h3 {
  font-size: 2.8rem;
  line-height: 3.6rem; 
  color: #DDCCDF;
}

p {
  font-family: Trebuchet MS;
  padding-bottom: 0.5rem;
  color: #DDCCDF;
}

.gallery {
    width: 250px;
    height: 250px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    max-width: 15rem;
    object-fit: cover;
}

.headshot {
  width: 160px;
  height: 160px;
  margin-left: -22rem;
  margin-top: 8rem;
  border-radius: 1%;
  object-fit: cover;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.links {
  font-family: Trebuchet MS;
  padding-bottom: 0.5rem;
  color: #DDCCDF;
  text-decoration: none;
  position: relative;
  padding-top:1rem;
}

.links::after {
  content: "";
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #DDCCDF;
  transition: transform 0.3s ease-in-out;
  transform: scaleX(0);
  transform-origin: right;
}

.links:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

ul.accordion-items-container {
  box-sizing: border-box;
  background: #23481E;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

li.accordion-item {
  justify-content: center;
  vertical-align: center;
  width: 100%;
  height: 6rem;
  width: 100%;
  align-items: flex-start;
  background: #23481E;
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  outline: none !important;
}

div.accordian-divider {
  height: 1px;
  top: 6rem;
  width: 100%;
  background: #DDCCDF;
  transform: scaleY(-1);
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

b.accordian {
  display: flex;
  align-items: center;
  height: 6rem;
  width: 100%;
  background: #23481E;
  font: 400 15px Trebuchet MS !important;
  text-decoration: none !important;
  text-align: left !important;
  color: #DDCCDF;
  outline: none !important;
}

a.accordian {
  justify-content: center;
  vertical-align: center;
  font: 400 15px Trebuchet MS;
  color: #DDCCDF;
  text-decoration: none !important;
  outline: none !important;
}

a.accordian:hover {
  font-weight:bold;
}

.subname {
  font: 20px 'Helvetica Neue';
  position: absolute;

  color: #DDCCDF;
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

body h1 {
  font-size: 8rem;
  width: 100%;
  font-family: Trebuchet MS;
  letter-spacing: -0.3rem;
  color: #DDCCDF;
  white-space: nowrap;
  line-height: 9rem;
  height:9rem;
  padding-bottom:1rem;

  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 0.5s ease-in-out;
}

body h1:hover {
  color: #FFFFFF;
}

p.cs {
  font-family: Trebuchet MS;
  letter-spacing: -0.2px;
  font-size: 30px;
  color: #DDCCDF;
  padding-bottom: 3rem;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

footer {
  border-top: 1px solid #DDCCDF;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height:fit-content;
}

contactBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 76.61px 1.19px 0;
  gap: 1.37px;
  position: absolute;
  width: 167px;
  height: 61.56px;
  left: 877px;
  top: 137.22px;
}

p.info {
  width: 167px;
  height: 39px;

  font-family: Trebuchet MS;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* or 120% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.256px;

  color: #23481E;


  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #DDCCDF;
  transform: translate(-10px, -10px);
  pointer-events: none;
  z-index: 9999;
  filter: blur(10px);
  animation-name: stretch;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes stretch {
  0% {
    opacity: 0.7;
    border-radius: 100%;
    transform: translate(0, 0) rotate(0deg) scale(1);
  }

  50% {
    opacity: 0.3;
    transform: translate(-10px, 10px) rotate(45deg) scale(1.2);
  }

  100% {
    opacity: 0.5;
    transform: scale(2.0);
    transform: translate(10px, -10px) rotate(-45deg) scale(1.5);
  }
}